/LICENSE.html
/RELEASE_NOTES.txt
/install.php
/index.php
/mage
/LICENSE_AFL.txt
/get.php
/cron.sh
/index.php.sample
/.htaccess*
/api.php
/cron.php
/favicon.ico
/LICENSE.txt
/php.ini.sample
/nbproject/
/errors/
/var/
/media/
/downloader/
/shell/
/includes/
/pkginfo/
/skin/install/
/app/code/core/
/app/code/community/Cm/
/app/code/community/Phoenix/
/app/locale/
/app/etc/
/app/.htaccess
/app/Mage.php
/app/design/
/skin/
/lib/
/js/