<?xml version="1.0"?>
<config>
  <modules>
    <Zefir_Dealers>
      <version>0.1.3</version>
    </Zefir_Dealers>
  </modules>
  <global>
    <models>
      <zefir_dealers>
        <class>Zefir_Dealers_Model</class>
        <resourceModel>zefir_dealer_resource</resourceModel>
      </zefir_dealers>
      <zefir_dealer_resource>
        <class>Zefir_Dealers_Model_Resource</class>
        <entities>
          <dealer>
            <table>zefir_dealer</table>
          </dealer>
          <product_link>
            <table>zefir_dealer_product_link</table>
          </product_link>
          <gallery>
            <table>zefir_dealer_gallery</table>
          </gallery>
        </entities>
      </zefir_dealer_resource>
    </models>
    <resources>
      <zefir_dealer_setup>
        <setup>
          <module>Zefir_Dealers</module>
          <class>Zefir_Dealers_Model_Resource_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </zefir_dealer_setup>
      <zefir_dealer_write>
        <connection>
          <use>core_write</use>
        </connection>
      </zefir_dealer_write>
      <zefir_dealer_read>
        <connection>
          <use>core_read</use>
        </connection>
      </zefir_dealer_read>
    </resources>
    <helpers>
      <zefir_dealers>
        <class>Zefir_Dealers_Helper</class>
      </zefir_dealers>
    </helpers>
    <blocks>
      <zefir_dealers>
        <class>Zefir_Dealers_Block</class>
      </zefir_dealers>
    </blocks>    
  </global>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Zefir_Dealers after="Mage_Adminhtml">Zefir_Dealers_Adminhtml</Zefir_Dealers>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <frontend>
    <layout>
      <updates>
        <zefir_dealers>
          <file>zefir/dealers.xml</file>
        </zefir_dealers>
      </updates>
    </layout>
    <routers>
      <dealers>
        <use>dealers</use>
        <args>
          <module>Zefir_Dealers</module>
          <frontName>dealers</frontName>
        </args>
      </dealers>
    </routers>
    <translate>
      <modules>
        <zefir_dealers>
          <files>
            <default>Zefir_Dealers.csv</default>
          </files>
        </zefir_dealers>
      </modules>
    </translate>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <zefir_dealers>
          <file>zefir/dealers.xml</file>
        </zefir_dealers>
      </updates>
    </layout>
    <translate>
      <modules>
        <zefir_dealers>
          <files>
            <default>Zefir_Dealers.csv</default>
          </files>
        </zefir_dealers>
      </modules>
    </translate>
  </adminhtml>
  <default>
    <web>
      <routers>
        <dealers>
          <area>frontend</area>
          <class>Zefir_Dealers_Controller_Router</class>
        </dealers>
      </routers>
    </web>
  </default>
</config>
