<?xml version="1.0"?>
<config>
  <modules>
    <Zefir_Dealers>
      <version>0.1.0</version>
    </Zefir_Dealers>
  </modules>
  <global>
    <models>
      <zefir_dealers>
        <class>Zefir_Dealers_Model</class>
        <resourceModel>zefir_dealer_resource</resourceModel>
      </zefir_dealers>
      <zefir_dealer_resource>
        <class>Zefir_Dealers_Model_Resource</class>
        <entities>
          <dealer>
            <table>zefir_dealer</table>
          </dealer>
        </entities>
      </zefir_dealer_resource>
    </models>
    <resources>
      <zefir_dealer_setup>
        <setup>
          <module>Zefir_Dealers</module>
          <class>Zefir_Dealers_Model_Resource_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </zefir_dealer_setup>
      <zefir_dealer_write>
        <connection>
          <use>core_write</use>
        </connection>
      </zefir_dealer_write>
      <zefir_dealer_read>
        <connection>
          <use>core_read</use>
        </connection>
      </zefir_dealer_read>
    </resources>
    <helpers>
      <zefir_dealers>
        <class>Zefir_Dealers_Helper</class>
      </zefir_dealers>
    </helpers>
    <blocks>
      <zefir_dealers>
        <class>Zefir_Dealers_Block</class>
      </zefir_dealers>
    </blocks>    
  </global>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Zefir_Dealers after="Mage_Adminhtml">Zefir_Dealers_Adminhtml</Zefir_Dealers>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
</config>
