<?xml version="1.0"?>
<config>
  <sections>
    <dealers translate="label" module="zefir_dealers">
      <tab>sales</tab>
      <label>Dealers Settings</label>
      <frontend_type>text</frontend_type>
      <sort_order>340</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <groups>
        <general translate="label" module="zefir_dealers">
          <label>General</label>
          <frontend_type>text</frontend_type>
          <sort_order>10</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>0</show_in_website>
          <show_in_store>0</show_in_store>
          <expanded>1</expanded>
          <fields>
            <dealer_url_suffix translate="label comment" module="zefir_dealers">
              <label>Dealer URL Suffix</label>
              <frontend_type>text</frontend_type>
              <backend_model>catalog/system_config_backend_catalog_url_rewrite_suffix</backend_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Cache refresh needed.</comment>
            </dealer_url_suffix>
          </fields>
        </general>
      </groups>
    </dealers>
  </sections>    
</config>
