<?xml version="1.0"?>
<config>
  <modules>
    <Zefir_DealerLocator>
      <version>0.1.0</version>
    </Zefir_DealerLocator>
  </modules>
  <global>
    <models>
      <zefir_locator>
        <class>Zefir_DealerLocator_Model</class>
      </zefir_locator>      
    </models>
    <resources>
      <zefir_locator_setup>
        <setup>
          <module>Zefir_DealerLocator</module>
          <class>Zefir_DealerLocator_Model_Resource_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </zefir_locator_setup>
      <zefir_locator_write>
        <connection>
          <use>core_write</use>
        </connection>
      </zefir_locator_write>
      <zefir_locator_read>
        <connection>
          <use>core_read</use>
        </connection>
      </zefir_locator_read>
    </resources>
    <helpers>
      <zefir_locator>
        <class>Zefir_DealerLocator_Helper</class>
      </zefir_locator>
    </helpers>
    <blocks>
      <zefir_locator>
        <class>Zefir_DealerLocator_Block</class>
      </zefir_locator>
    </blocks>    
  </global>
  <frontend>
    <layout>
      <updates>
        <zefir_dealerslocator>
          <file>zefir/dealers-locator.xml</file>
        </zefir_dealerslocator>
      </updates>
    </layout>
  </frontend>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Zefir_DealerLocator after="Mage_Adminhtml">Zefir_DealerLocator_Adminhtml</Zefir_DealerLocator>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <events>
      <zefir_dealer_prepare_form_fields>
        <observers>
          <add_geolocation_fields>
            <type>singleton</type>
            <class>zefir_locator/observer</class>
            <method>addFieldsToDealerForm</method>
          </add_geolocation_fields>
        </observers>
      </zefir_dealer_prepare_form_fields>
      <dealer_save_before>
        <observers>
          <add_geolocation_to_dealer>
            <type>singleton</type>
            <class>zefir_locator/observer</class>
            <method>localizeDealer</method>
          </add_geolocation_to_dealer>
        </observers>
      </dealer_save_before>
      <zefir_dealers_grid_prepare_massaction>
        <observers>
          <add_geolocation_massaction>
            <type>singleton</type>
            <class>zefir_locator/observer</class>
            <method>addMassactionToGrid</method>
          </add_geolocation_massaction>
        </observers>
      </zefir_dealers_grid_prepare_massaction>
    </events>
  </adminhtml>  
  <geoservices>
    <children>
      <geonames translate="label" module="zefir_locator">
        <label>Geonames.org</label>
      </geonames>
      <openstreet translate="label" module="zefir_locator">
        <label>Openstreetmap.org</label>
      </openstreet>
      <google translate="label" module="zefir_locator">
        <label>Google Maps</label>
      </google>
    </children>
  </geoservices>
</config>
